@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(62, 12, 97) 0%, rgb(39, 169, 255) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1.5rem;
}

section h1 {
    color: #fff;
    font-size: 3rem;
}

section .start-quiz button {
    padding: 12px 25px;
    background-color: #08af08;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 0.25px;
    cursor: pointer;
}

main {
    width: 100%;
    max-width: 760px;
    min-height: 430px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}

main .questions-amount {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

main .question-title {
    width: 100%;
    text-align: left;
    padding: 10px;
    display: none;
}

main .question-title h2 {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}

main .questions {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    display: none;
}

main .questions button {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #045461;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
    cursor: pointer;
}

main .questions button:not(:last-child) {
    margin-bottom: 10px;
}

main .exit-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    display: none;
}

main .exit-content span {
    font-size: 1.5rem;
}

main .exit-content button {
    display: inline-block;
    padding: 10px 22px;
    background-color: #222;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 0.25px;
    cursor: pointer;
}

@media screen and (max-width: 370px) {
    main .question-title h2 {
        font-size: 14px;
        padding-top: 2rem;
    }

    main .questions {
        margin-top: 5px;
    }

    main .questions button {
        padding: 8px;
        font-size: 14px;
    }
}